body {
  font-family: Roboto;
}

body.scroll {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 2;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

address {
  font-style: normal;
}

input,
a,
a :visited {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
  background-color: inherit;
}

a:focus {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

svg {
  fill: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  background: #fff;
  border-bottom: 1px solid #ECECEC;
}

.top__line {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__line-logo {
  color: #000;
  font-family: Raleway;
  font-weight: bolder;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .top__line-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    margin-right: 100px;
  }
}

.top__line-logo-web {
  color: #2196F3;
}

.header-menu {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: -webkit-transform 350ms linear;
  transition: -webkit-transform 350ms linear;
  transition: transform 350ms linear;
  transition: transform 350ms linear, -webkit-transform 350ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  overflow-x: scroll;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 48px 40px;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #000;
}

.header-menu.is-open {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.top__line-ul {
  font-weight: 500;
  font-size: 47px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.top__line-ul li {
  -webkit-transition: fill 250ms linear, color 250ms linear;
  transition: fill 250ms linear, color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 35px;
}

.top__line-ul li :hover,
.top__line-ul li :focus {
  color: #2196F3;
}

.top__line-ul li:last-child {
  margin-bottom: 25px;
}

.nav__border {
  color: #2196F3;
}

.top__line-info {
  fill: #757575;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.top__line-info a {
  -webkit-transition: fill 250ms linear, color 250ms linear;
  transition: fill 250ms linear, color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.top__line-info a:hover {
  color: #2196F3;
  fill: #2196F3;
}

.top__line-info svg {
  display: none;
}

.top__line-info .info-email {
  margin-bottom: 64px;
  font-size: 24px;
  line-height: 1.16;
  color: #757575;
}

.top__line-info .info-tel {
  margin-right: 0;
  margin-bottom: 30px;
  padding-right: 0;
  color: #2196F3;
}

.header-link {
  position: absolute;
  bottom: 48px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 22px;
  color: #2196F3;
}

.header-link li:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .header-menu {
    -webkit-transform: none;
            transform: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    height: 80px;
    background: none;
    padding: 0;
    margin: 0 -15px;
    overflow: hidden;
  }
  .top__line-ul {
    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .top__line-ul li {
    margin-right: 38px;
    -webkit-transition: fill 250ms linear, color 250ms linear;
    transition: fill 250ms linear, color 250ms linear;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 32px 0;
  }
  .top__line-ul li :hover,
  .top__line-ul li :focus {
    color: #2196F3;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .top__line-ul li {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .top__line-ul li:last-child {
    margin-right: 80px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .top__line-ul li:last-child {
    margin-right: 305px;
  }
}

@media screen and (min-width: 768px) {
  .top__line-info {
    display: block;
    fill: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    padding: 21px 0;
  }
  .top__line-info a {
    color: #757575;
    -webkit-transition: fill 250ms linear, color 250ms linear;
    transition: fill 250ms linear, color 250ms linear;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .top__line-info a:hover {
    color: #2196F3;
    fill: #2196F3;
  }
  .top__line-info svg {
    display: inline;
    margin-right: 10px;
    width: 16px;
    height: 18px;
  }
  .top__line-info .info-email {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.4;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .top__line-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px 0;
  }
  .top__line-info .info-tel {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .header-link {
    display: none;
  }
  .nav__border {
    color: #2196F3;
  }
  .nav__border::after {
    content: "";
    position: relative;
    top: 28px;
    display: block;
    margin-bottom: -4px;
    height: 4px;
    border-radius: 2px;
    background: #2196F3;
  }
}

.mobile-menu {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.mobile-menu span {
  position: relative;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #212121;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.mobile-menu span :hover,
.mobile-menu span :focus,
.mobile-menu span :active {
  background: #000;
}

.mobile-menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.mobile-menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.mobile-menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0px);
          transform: rotate(-45deg) translate(0px);
}

.mobile-menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.mobile-menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(45deg) translate(-7px, -10px);
          transform: rotate(45deg) translate(-7px, -10px);
}

.up__block {
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.up__block-title {
  color: #fff;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 118px;
}

@media screen and (min-width: 1200px) {
  .up__block-title {
    font-size: 44px;
    line-height: 1.3;
    padding-top: 200px;
  }
}

.up__block-button {
  text-align: center;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .up__block-button {
    padding-bottom: 200px;
  }
}

.up__block-bt {
  margin-top: 30px;
  padding: 9.1px 0;
  width: 200px;
  font-weight: bold;
  color: #fff;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.06em;
}

.peculiarities {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .peculiarities {
    padding: 94px 0;
  }
}

.peculiarities-info h2 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}

.peculiarities-info p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 10px;
}

.peculiarities-info:before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 20px;
}

.peculiarities-icon1::before {
  background-image: url(../images/antenna.svg);
}

.peculiarities-icon2::before {
  background-image: url(../images/clock.svg);
}

.peculiarities-icon3::before {
  background-image: url(../images/diagram.svg);
}

.peculiarities-icon4::before {
  background-image: url(../images/astronaut.svg);
}

@media screen and (min-width: 768px) {
  .peculiarities__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .peculiarities__flex li {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
  .peculiarities__flex li:nth-last-child(1), .peculiarities__flex li:nth-last-child(2) {
    margin-bottom: 0;
  }
  .peculiarities__flex li h2 {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: -15px;
  }
  .peculiarities__flex li {
    margin: 15px;
    width: calc((100% - 8 * 15px) / 4);
  }
  .peculiarities__flex li h2 {
    text-align: left;
  }
}

.classes {
  padding: 0 0 94px 0;
}

@media screen and (max-width: 1200px) {
  .classes {
    display: none;
  }
}

.classes__title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.classes__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.classes__image li {
  margin-right: 30px;
  position: relative;
}

.classes__image li:last-child {
  margin-right: 0;
}

.classes-image-sabtitle {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: #F5F4FA;
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team-flex .team-cards:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .team-flex .team-cards {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
  .team-flex .team-cards:last-child {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .team-flex .team-cards {
    margin: 15px;
    width: calc((100% - 8 * 15px) / 4);
  }
}

.team-cards {
  width: 100%;
  margin-right: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-cards img {
  width: 100%;
}

.team-cards:last-child {
  margin-right: 0;
}

.team-card-padding {
  padding: 30px 0;
}

.team-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-card-sabtitle {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-social {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  -webkit-transition: fill 250ms linear, color 250ms linear, background 250ms linear;
  transition: fill 250ms linear, color 250ms linear, background 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
}

.team-social-link:hover, .team-social-link:focus {
  background: #2196F3;
  fill: #fff;
}

.team-social-li {
  margin-right: 10px;
}

.team-social-li:last-child {
  margin-right: 0;
}

.team-social-svg {
  width: 20px;
  height: 20px;
}

.client {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .client {
    padding: 94px 0;
  }
}

.client-title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .client-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.client-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.client-ul li {
  margin: 15px;
  padding: 15px 0 10px 0;
  width: calc((100% - 4 * 15px) / 2);
  height: calc((100% - 4 * 10px) / 2);
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms linear, color 250ms linear, border 250ms linear;
  transition: fill 250ms linear, color 250ms linear, border 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-ul li:last-child {
  padding: 10px 0 15px 0;
}

.client-ul li svg {
  width: 50px;
  height: 56px;
}

.client-ul li:hover, .client-ul li:focus {
  fill: #2196F3;
  cursor: pointer;
  border: 1px solid #2196F3;
}

@media screen and (min-width: 768px) {
  .client-ul li {
    margin: 15px;
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-ul li {
    margin: 15px;
    width: calc((100% - 12 * 15px) / 6);
  }
}

.footer {
  padding: 60px 0;
  background: #2F303A;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__logo {
  color: #fff;
  font-family: Raleway;
  font-weight: bolder;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}

.footer__logo-web {
  color: #2196F3;
}

.footer__address {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__address {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 50px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    text-align: left;
    -webkit-box-flex: 0;
        -ms-flex: 0 216px;
            flex: 0 216px;
    padding: 0;
    margin: 0 70px 0 0;
  }
}

.footer__address-street {
  margin-top: 20px;
  margin-bottom: 8px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__address-email,
.footer__address-tell {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: fill 250ms linear, color 250ms linear;
  transition: fill 250ms linear, color 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-email:hover, .footer__address-email:focus,
.footer__address-tell:hover,
.footer__address-tell:focus {
  color: #2196F3;
}

.footer__address-email {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .container-flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .container-flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

.footer-social {
  text-align: center;
  margin-bottom: 60px;
}

.footer-social h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-social h2 {
    text-align: left;
  }
}

.footer-social li:nth-child(1) {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer-social {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 0;
    margin: 0 93px 0 0;
  }
}

.social-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social-icon {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  -webkit-transition: fill 250ms linear, color 250ms linear, background 250ms linear;
  transition: fill 250ms linear, color 250ms linear, background 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon:hover, .footer-social-icon:focus {
  background-color: #2196F3;
}

.footer-social-icon1 {
  background-image: url(../images/instagram.svg);
}

.footer-social-icon2 {
  background-image: url(../images/twitter.svg);
}

.footer-social-icon3 {
  background-image: url(../images/facebook.svg);
}

.footer-social-icon4 {
  background-image: url(../images/linkedin.svg);
  margin-right: 0;
}

.footer-form {
  margin: 0 auto;
}

.footer-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .footer-form h2 {
    text-align: left;
  }
}

.footer-form-input {
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #2F303A;
  color: #fff;
  width: 100%;
}

.footer-form-input:focus {
  border: 1px solid #2196F3;
}

.footer-form-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 460px;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 360px;
    display: inline;
    margin-right: 10px;
  }
}

.footer-form-bt {
  position: relative;
  padding: 9px 67px 9px 35px;
  font-size: 16px;
  line-height: 2;
  background: #2196F3;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form-svg {
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #fff;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 450px;
  min-height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal a {
  color: #188CE8;
  text-decoration: underline;
}

@media screen and (max-width: 422px) {
  .modal {
    width: 100%;
    max-height: 560px;
    overflow: scroll;
    padding: 35px 15px 15px 15px;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background: url(../images/close.svg) 11px no-repeat;
  background-position: center;
  -webkit-transition: fill 250ms linear, color 250ms linear, border 550ms linear;
  transition: fill 250ms linear, color 250ms linear, border 550ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  fill: #2196F3;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.modal-btn-close {
  width: 11px;
  height: 11px;
  margin: 0 auto;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 40px;
  margin-top: -2px;
  margin-bottom: 10px;
  padding: 12px 16px 12px 42px;
}

.modal-input:focus {
  border: 1px solid #2196F3;
}

.modal-input-text {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal-input-text::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-text::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-icon {
  fill: #fff;
  border: solid 0.6px #212121;
  border-radius: 1.5px;
  width: 15px;
  height: 15px;
  padding: -2px;
}

.modal-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 30px;
}

.modal-checkbox:checked + .checkbox-icon {
  fill: #2196F3;
  border: none;
}

.modal-label-checkbox {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal-label-checkbox {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal-bt {
  padding: 10px 55px;
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.form-field1,
.form-field2,
.form-field3 {
  position: relative;
}

.modal-social-svg1,
.modal-social-svg2,
.modal-social-svg3 {
  fill: #212121;
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 12px;
}

.modal-input:focus + .modal-social-svg1 {
  fill: #2196F3;
}

.portfolio {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 611px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .filters-list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters-list {
    margin-bottom: 50px;
  }
}

.filters-element button {
  padding: 6.3px 22px;
  margin-right: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  background: #F5F4FA;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-transition: fill 250ms linear, color 250ms linear, background 250ms linear;
  transition: fill 250ms linear, color 250ms linear, background 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-element button:hover, .filters-element button:focus {
  cursor: pointer;
  color: #fff;
  background: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .filters-element button {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .project .project-content {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .project .project-content {
    margin: 15px;
    width: calc((100% - 6 * 15px) / 3);
  }
}

.project h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-content {
  width: 100%;
  margin: 0 30px 30px 0;
  background: #fff;
}

.project-content:nth-child(3n+3) {
  margin-right: 0;
}

.project-body {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms linear;
  transition: -webkit-box-shadow 250ms linear;
  transition: box-shadow 250ms linear;
  transition: box-shadow 250ms linear, -webkit-box-shadow 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-body:hover, .project-body:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-body img {
  width: 100%;
  height: auto;
  -webkit-transition: opacity 350ms linear;
  transition: opacity 350ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body.scroll .project-body img {
  opacity: 0;
}

.project-body-text {
  position: relative;
  overflow: hidden;
}

.project-content-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translatey(110%);
          transform: translatey(110%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #fff;
}

.project-content :hover .project-content-title,
.project-content :focus .project-content-title {
  opacity: 1;
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.project-border {
  padding: 20px 24px;
  border: 1px solid #eee;
}

.project-border p {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.peculiarities-svg {
  color: #000;
  background: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */