
.peculiarities {
	padding: 60px 0;
	@media screen and (min-width: $desktop) {
		padding: 94px 0;
	}
}
.peculiarities-info h2 {
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $color-title;
	margin-top: 30px;
}

.peculiarities-info p {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: $gray;
	margin-bottom: 10px;
}
.peculiarities-info{
	&:before{
		display: block;
		content: "";
		height: 120px;
		background-size: 70px;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #f5f4fa;
		margin-bottom: 20px;
	}
}
.peculiarities-icon1::before {
	background-image: url(../images/antenna.svg);
}

.peculiarities-icon2::before {
	background-image: url(../images/clock.svg);
}

.peculiarities-icon3::before {
	background-image: url(../images/diagram.svg);
}

.peculiarities-icon4::before {
	background-image: url(../images/astronaut.svg);
}
@media screen and (min-width:$tablet) {
	.peculiarities__flex {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
	& li{
		margin: 15px;
		width: calc((100% - 4 * 15px) / 2);
		&:nth-last-child(1),
		&:nth-last-child(2){
			margin-bottom: 0;
		}
		& h2{
			text-align: left;
		}
	}
  }
}
@media screen and (min-width:$desktop) {
	.peculiarities__flex {
	display: flex;
	flex-direction: row;
	margin: -15px;
	& li{
		margin: 15px;
		width: calc((100% - 8 * 15px) / 4);
		& h2{
			text-align: left;
		}
	}
  }
}
